-e .
cached-property==1.5.2
cookiecutter==1.7.2
datasets==1.5.0
gensim>=4.0
ipython==7.10 #fix warning https://github.com/ipython/ipykernel/issues/540
ipywidgets>=7.5
jupyter==1.0.0
keras==2.4.3
matplotlib==3.4
mkdocs==1.1.2
mkdocs-cinder==1.2.0
multimodal-transformers>=0.1.4a0
numpy>=1.19
pandas>=1.2
patterns
pip-chill==1.0.1
plotly==4.14.3
pyLDAvis>=3.2
pytest==6.2.2
python-Levenshtein>=0.12 # required by gensim
pytorch-nlp==0.5.0
pytorch-pretrained-bert==0.6.2
scikit-learn>=0.24
scikit-optimize>=0.8.1
scipy>=1.6
seaborn>=0.11
sentence-transformers==1.0.0
spacy>=3.0
tensorflow>=2.4
umap-learn>=0.5
wordcloud==1.8.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.0.0/en_core_web_md-3.0.0-py3-none-any.whl
